.image {
    height: 200px;
    margin: 0 auto  ;
}

.superheroes {
    border: 1px solid darkseagreen ;
    padding: 5px;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}